<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aptkjobs"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Empreg"></activity>
        <activity android:name=".Appreg"></activity>
        <activity android:name=".Applicant"></activity>
        <activity android:name=".Company"></activity>
        <activity android:name=".Addjob"></activity>
        <activity android:name=".Viewjob"></activity>
        <activity android:name=".Editcompany"></activity>
        <activity android:name=".Apply"></activity>
        <activity android:name=".Ediapplicant"></activity>
        <activity android:name=".Companyinbox"></activity>
        <activity android:name=".Viewapplicant"></activity>
        <activity android:name=".Applicantinbox"></activity>
        <activity android:name=".Viewreply"></activity>
        <activity android:name=".Companymenu"></activity>
         <activity android:name=".Applicantmenu"></activity>
         <activity android:name=".News"></activity>
         <activity android:name=".Addnews"></activity>
         <activity android:name=".Viewnews"></activity>
         <activity android:name=".Viewcompany"></activity>
         <activity android:name=".Companyprofile"></activity>
         <activity android:name=".Displaynews"></activity>
          <activity android:name=".Companyimage"></activity>
         <activity android:name=".Applicantimage"></activity>
         <activity android:name=".Certificate1"></activity>
          <activity android:name=".Certificate2"></activity>
           <activity android:name=".Resume"></activity>
             <activity android:name=".Showcert"></activity>
        
    </application>

</manifest>
